.sobre__titulo {
  color: var(--vermelho-vinho);
  font-family: Pacifico, cursive;
  font-size: 3.1875rem;
}

@media screen and (width > 0) {
  .sobre__titulo {
    font-size: 2rem;
  }
}

@media screen and (width > 768px) {
  .sobre__titulo {
    font-size: 3.1875rem;
  }
}