.banner__titulo {
  font-family: Pacifico, cursive;

  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  width: 100%;

  color: var(--branco);

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

@media screen and (width > 0) {
  .banner__titulo {
    font-size: 3rem;
  }
}

@media screen and (width > 768px) {
  .banner__titulo {
    font-size: 5.7rem;
  }
}