.pessoa__imagem--marcela {
  background: url(../../../img/pessoas/marcela.jpg);
}

.pessoa__imagem--roberta {
  background: url(../../../img/pessoas/roberta.jpg);
}

.pessoa__imagem--andreia {
  background: url(../../../img/pessoas/andreia.jpg);
}

.pessoa__imagem {
  border-radius: 100%;
  margin: 0 auto;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (width > 0) {
  .pessoa__imagem {
    width: 150px;
    height: 150px;
  }
}

@media screen and (width > 768px) {
  .pessoa__imagem {
    height: 300px;
    width: 300px;
  }
}