:root {
  --branco: #fff;
  --bg-receitas: #e5e5e5;
  --bg-card-receita: #fdfdfd;
  --cinza-claro: #f9f9f9;
  --cinza-escuro: #333333;
  --cinza: #808080;
  --vermelho-vinho: #8d0606;
  --vermelho-escuro: #620404;
}